.header{
	width: 100%;
	text-align: center;
}

.header img{
	transform:scale(.5);
}


h1, h2{
	color: white;
	text-align: center;
}

.jobs-accordion{
	padding: 90px 0 200px;
}

.jobs-accordion a{
	color: white !important;
	font-size: 1.5em;
}

.jobs-accordion>ul{
	margin: 0;
}

.fa{
	width: 50px;
	padding-left: 10px;
	color: white;
}

.content > ul{
	padding: 20px;
	text-align: left;
}

.content {
	text-align: center;
}

.content p{
	color: grey;
	font-size: .78em;
}

.content button{
	margin-bottom: .25em;
}


.accordion-navigation > a {
	border: 1px solid white;
	background-color: #3498db !important;
	color: white;

/* 	-webkit-box-shadow: 0 1px 2px 2px #616161;
box-shadow: 0 1px 2px 2px #616161; */
}
