body{padding-left: 5%;
    padding-right: 5%; 
    padding-top: 22%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #173340;
}


@media (max-width: 550px) {
    body{
        padding-top: 0;
    }
}


.row{
    width: 100%;
}



#footer-wrapper{
    width: 90%;
    position: fixed;
    bottom: 0;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    white-space: nowrap;
}

#footer div{
    font-size: 10px;
    
}

#powered p{
    float: left;
}

.coming-soon{
    font-size: 10px;
}

#letlife_logo{
    width: 150px
}

#letlife_logo img{
    width: 100%;
}

#ad_logo{
    clear: right;
    width: 40px;
    height: 40px;
    position: relative; bottom: 5px; left: 5px;
    cursor: pointer;
}

#ad_logo:hover{
    opacity: 0.8;
}

#ad_logo img{ width: 100%;}



hr.style-one {
    border: 0;
    height: 1px;
    background: #173340;
}


@media (max-width: 550px){
    #powered{
        position: fixed;
        bottom: 22px;
        right: 15%;
    }
    
    hr.style-one {
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
    }

}

@media (min-width: 550px){
    .coming-soon{
        float:left;
    }
    
    hr.style-one{
        float: left;
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        bottom: 4px
    }
}

/*-------------------------------- hr width media queries       */


/* Larger than tablet */
@media (min-width: 750px) {
    hr.style-one{
        width: 70%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    hr.style-one{
        width: 80%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    hr.style-one{
        width: 85%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
    hr.style-one{
        width: 87%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
    hr.style-one{
        width: 89%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1900px) {
    hr.style-one{
        width: 90%;
    }
}



/* HEIGHT MEDIA QUERIES */

@media (max-height: 768px) {
    body{
    font-size: 30px;
        padding-top: 5%;
    
    }
}


.nascondi{display: none}
.rosa{ color:#FE7778}
.acqua{color: #39B6B1}
.azzurro{color: #36A9E1}
.rosa_shock{color: #E71D73}