body{
    padding-left: 5%;
    padding-right: 5%; 
    padding-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #173340;
}

::-webkit-scrollbar { 
    display: none; 
}

.row{
    width: 100%;
}

#contenuto{
    padding-bottom: 150px;
}


#footer-wrapper{
    width: 90%;
    position: fixed;
    bottom: 0;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    white-space: nowrap;
}

#footer div{
    font-size: 10px;
    display: inline-block;
}

.coming-soon{
    font-size: 10px;
}



#powered div img{
    width: 100%;
}


#letlife_logo{
    width: 80px
}

#letlife_logo img{
    width: 100%;
}

#ad_logo{
    width: 40px;
    
}

#ad_logo:hover{
    opacity: 0.8;
    cursor: pointer;
}





hr.style-one {
    border: 0;
    height: 1px;
    background: #173340;
    position: relative;
    bottom: 0;
}


@media (max-width: 550px){
    
    body{
        font-size: 15px;
    }
    
    #letlife_logo{
        width: 100px;
    }
    

    
    
    #powered{
        position: fixed;
        bottom: 13px;
        right: 5%;
    }
    
    #ad_logo{
        width: 30px
    }
    
    #powered div:first-child{
        position: relative;
        bottom: 10px;
    }
    
    
    hr.style-one {
        /*display: none;*/
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
        background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
        
    }

}

@media (min-width: 550px){
    
    #footer *{
        display: inline-block;
        vertical-align: middle
    }

    
    hr.style-one{
        
        width: 60%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
}

/*-------------------------------- hr width media queries       */


/* Larger than tablet */
@media (min-width: 750px) {
    
    body{
        padding-top: 10%;
    }
    hr.style-one{
        width: 70%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    hr.style-one{
        width: 77%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    hr.style-one{
        width: 83%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
    hr.style-one{
        width: 85%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
    hr.style-one{
        width: 89%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1900px) {
    hr.style-one{
        width: 90%;
    }
}



/* HEIGHT MEDIA QUERIES */

@media (max-height: 768px) {
    body{
        font-size: 20px;
        padding-top: 1%;
    
    }
    
    .letlife_logo{
        width: 80px !important;
    }
}

@media (min-height: 768px) {
    body{
    font-size: 30px;
        padding-top: 5%;
    
    }
    
    #powered{
        bottom: 20px;    
    }
}


.nascondi{display: none}
.rosa{ color:#FE7778}
.acqua{color: #39B6B1}
.azzurro{color: #36A9E1}
.rosa_shock{color: #E71D73}




/*     SOCIAL   */


.social{
    position: absolute;
    top: 10px;
    right: 12px;
    
    cursor: pointer;
}

.social div{
    opacity: 0.7;
}

.social div:hover{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    transform: scale(1.1);
}