* {
  text-rendering: optimizeLegibility;
}
html,
body {
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  font-family: "Raleway";
  overflow: auto;
}
h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat";
}
p {
  margin: 0;
}
img {
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
.btn {
  background: transparent;
  border: 1px solid #3498db;
  border-radius: 3px;
  font-size: 0.7em;
  padding: 8px 15px;
  text-transform: uppercase;
}
body {
  text-rendering: optimizeLegibility;
}
#fp-nav ul li a span {
  background-color: #fff;
  border: 1px solid #fff;
}
.parallax-layer {
  width: 300px;
  background-color: #f00;
}
#videomodal {
  display: none;
  max-width: 100vw;
  position: relative;
}
#closemodal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 100000;
}
#vm {
  max-height: 100vh;
}
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.menu div {
  display: inline-block;
}
.menu div:last-child {
  position: absolute;
  right: 0;
  top: 0;
}
.section {
  width: 100vw;
  min-height: 100vh;
  background-size: contain;
}
.section p {
  max-width: 400px;
  margin: 0 auto;
}
.section .download {
  text-align: center;
}
.section .download h2 {
  font-size: 0.95em;
  text-transform: uppercase;
  color: #666;
  padding-bottom: 8px;
}
.section .download .store>div {
  width: 180px;
  margin: 0 auto;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.5);
}
.section .download .store>div>div {
  display: inline-block;
  width: 90px;
  height: 20px;
  padding: 5px 0;
}
.section .download .store img {
  height: 100%;
}
.section .download .store a {
  display: block;
  width: 100%;
  height: 100%;
}
.section .download .store .android {
  background: #cfd3d4;
}
.section .download .store .ios {
  background: #e7e8ec;
}
.section .separe {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 400px;
  opacity: 0.5;
}
.section #separe-hole {
  padding: 0;
  position: relative;
  top: -42px;
  width: 100%;
}
.section .circeld-img img {
  width: 85px;
}
#section-1 {
  background: url("../images/sfondo_01.jpg") no-repeat 0 0;
  background-size: cover;
}
#section-1 h1 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: lighter;
  text-align: center;
  font-size: 1.9em;
}
#section-1 #video {
  text-align: center;
  padding: 40px 40px;
  margin: 0 auto;
  max-width: 300px;
}
#section-1 #video img {
  border: 3px solid #fff;
  box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.4);
}
.title {
  font-size: 1.4em;
  color: #5595a8;
  text-transform: uppercase;
}
#section-2 {
  background: url("../images/sfondo_02.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
}
#section-2 .separe {
  padding: 5px 0;
}
#section-2 div.web-column {
  max-width: 400px;
  margin: 0 auto;
}
#section-2 #cosa {
  padding: 30px;
}
#section-2 #perche {
  padding: 30px;
}
#section-2 p {
  font-weight: light;
  padding-top: 25px;
}
#section-2 .white-txt {
  color: #fff;
}
#section-2 .blue-txt {
  color: #5595a8;
  text-transform: uppercase;
}
.gradient-title {
  text-transform: uppercase;
  padding-top: 20px;
}
.gradient-title span {
  opacity: 0.5;
}
.blue-little {
  color: #3498db;
  padding: 0 30px 55px;
}
#section-3 {
  background: url("../images/sfondo_03.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
  color: #f5f5f5;
}
#section-3 p {
  color: #f5f5f5;
}
#section-4 {
  background: url("../images/sfondo_04.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
}
#section-4 p {
  padding: 0 30px 55px;
}
#section-4 .gradient-title {
  color: #f5f5f5;
}
#section-5 {
  background: url("../images/sfondo_05.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
}
#section-5 p {
  padding: 0 30px 55px;
  color: #3a8d8d;
}
#section-5 .gradient-title {
  color: #3a8d8d;
}
#section-6 {
  background: url("../images/sfondo_06.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
}
#section-6 p {
  padding: 0 30px 55px;
  color: #3a8d8d;
}
#section-6 .gradient-title {
  color: #3a8d8d;
}
#section-7 {
  min-height: auto;
  text-align: center;
  padding: 0;
  min-height: initial;
}
#section-7 .article {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  min-height: 33vh;
}
#section-7 .article h3 {
  padding: 10px 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-top: 10%;
}
#section-7 .article .red {
  color: #b2524f;
}
#section-7 .btn {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
  text-decoration: none;
}
#section-7 .btn:hover {
  background-color: #808080;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
#section-7 #article-1 {
  background: url("../images/case_01.png") no-repeat 0 0;
  background-size: cover;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.4);
}
#section-7 #article-1 .btn {
  color: #fff;
  border: 1px solid #fff;
}
#section-7 #article-2 {
  background: url("../images/case_02.png") no-repeat 0 0;
  background-size: cover;
  position: relative;
  z-index: 9;
  box-shadow: 0px 4px 8px 2px rgba(0,0,0,0.4);
}
#section-7 #article-2 .btn {
  color: #fff;
  border: 1px solid #fff;
}
#section-7 #article-3 {
  background: url("../images/case_03.png") no-repeat 0 0;
  background-size: cover;
  position: relative;
  z-index: 8;
}
#section-7 #article-3 .btn {
  color: #808080;
  border: 1px solid #808080;
}
#section-7 #article-3 .btn:hover {
  background-color: #fff;
}
#section-7-5 {
  background: url("../images/sfondo_07.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding: 55px 0;
}
#section-7-5 .col-wp {
  text-align: justify;
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;
}
#section-7-5 .col-wp p {
  padding-bottom: 20px;
}
#section-7-5 .col-wp p br {
  display: block;
  margin-top: 10px;
}
#section-8 {
  background: url("../images/sfondo_iot.jpg") no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding: 55px 0;
}
#section-8 span {
  color: #808080;
}
#section-8 p {
  width: 75%;
  max-width: 400px;
  margin: 0 auto;
  color: #5f697a;
  padding: 20px 0;
}
#section-8 a {
  color: #5f697a;
}
#section-8 #aspettando {
  padding-bottom: 40px;
}
#section-8 #aspettando h3 {
  font-family: "Raleway";
  font-weight: lighter;
}
#section-8 #aspettando p {
  width: 60%;
  margin: 0 auto;
  font-size: 0.8em;
}
#section-8 #contacts {
  width: 70%;
  margin: 0 auto;
}
#section-8 #contacts h3 {
  font-size: 0.9em;
  padding-bottom: 20px;
}
#section-8 #contacts a {
  text-decoration: none;
}
#section-8 #contacts p {
  padding-bottom: 3px;
  font-size: 0.7em;
}
#section-8 input {
  width: 150px;
  border-radius: 4px 0 0 4px;
  border: 0;
  height: 30px;
  color: #808080 !important;
}
#section-8 .submit {
  position: relative;
  top: -1px;
  height: 32px;
  border: 0;
  color: #000;
  background: #d3d3d3;
  border-radius: 0 4px 4px 0;
  font-size: 0.7em;
  padding: 0 7px;
}
.successo-iscrizione {
  -webkit-transition: 1s all ease;
          transition: 1s all ease;
}
.fallimento-iscrizione {
  -webkit-transition: 1s all ease;
          transition: 1s all ease;
}
#successo-checkmail {
  opacity: 0;
  font-size: 1em;
  color: #2ecc71;
  text-align: center;
}
.footer-wrapper {
  text-align: center;
  background: url("../images/sfondo_08.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 40px 0;
}
.footer-wrapper ul {
  width: 250px;
  margin: 0 auto;
  list-style: none;
}
.footer-wrapper ul li {
  font-size: 0.9em;
  padding: 3px 0;
}
.footer-wrapper ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-wrapper #footer-social-wp #separe-hole {
  padding: 0;
  position: relative;
  top: -44px;
  width: 75%;
}
.footer-wrapper #footer-social-wp li {
  display: inline-block;
  cursor: pointer;
  height: 25px;
  padding: 15px;
}
.footer-wrapper #footer-social-wp li img {
  height: 100%;
}
.footer-wrapper p {
  font-size: 0.6em;
}
.footer-wrapper #credits a {
  width: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.footer-wrapper #credits a img {
  width: 100%;
}
.footer-wrapper #backtotop {
  padding-top: 40px;
  cursor: pointer;
}
.footer-wrapper #backtotop:hover {
  opacity: 0.7;
}
.footer-wrapper #backtotop img {
  width: 50px;
}
@media only screen and (max-width: 768px) {
  .letlife-logo {
    display: none;
  }
  .bg-png {
    display: none;
  }
  .letlife-logo-fix {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .letlife-logo-fix {
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0.8;
    width: 120px;
    z-index: 100;
  }
  .letlife-logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    opacity: 0.7;
  }
  .letlife-logo img {
    width: 100%;
  }
  .bg-png {
    display: block;
    position: absolute;
  }
  #section-1 {
    background: url("../images/w_sfondo_01.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-1 #png-01 {
    width: 135px;
    top: 120px;
    left: 18px;
  }
  #section-1 #png-02 {
    width: 250px;
    top: 0;
    right: 0;
  }
  #section-1 #png-03 {
    width: 200px;
    bottom: 0;
    right: 0;
  }
  #section-1 #png-03 img {
    position: relative;
    bottom: -3px;
  }
  #section-1 #png-04 {
    width: 40px;
    bottom: 50%;
    right: 10%;
  }
  #section-2 {
    background: url("../images/w_sfondo_02.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-3 {
    background: url("../images/w_sfondo_03.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-4 {
    background: url("../images/w_sfondo_04.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-5 {
    background: url("../images/w_sfondo_05.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-6 {
    background: url("../images/w_sfondo_06.jpg") no-repeat 0 0;
    background-size: cover;
  }
  #section-7 .article {
    width: calc(99.99% * 1/3 - (0px - 0px * 1/3));
    overflow: hidden;
    padding: 0;
    height: 100%;
    height: 100vh;
    position: relative;
  }
  #section-7 .article:nth-child(n) {
    float: left;
    margin-right: 0px;
    clear: none;
  }
  #section-7 .article:last-child {
    margin-right: 0;
  }
  #section-7 .article:nth-child(0n) {
    margin-right: 0;
  }
  #section-7 .article:nth-child(0n + 1) {
    clear: left;
  }
  #section-7 .article > * {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: auto;
    transform: translate(0, -50%);
  }
  #section-7 .article h3 {
    padding-top: 0;
  }
  #section-7 .article .vcenter {
    width: 100%;
  }
  #section-7 #article-1 {
    background: url("../images/w_case_01.png") no-repeat 0 0;
    background-size: cover;
    box-shadow: 6px 0px 7px 2px rgba(0,0,0,0.3);
  }
  #section-7 #article-2 {
    background: url("../images/w_case_02.png") no-repeat 0 0;
    background-size: cover;
    box-shadow: 6px 0px 7px 2px rgba(0,0,0,0.3);
  }
  #section-7 #article-3 {
    background: url("../images/w_case_03.png") no-repeat 0 0;
    background-size: cover;
  }
  #section-7-5 {
    background: url("../images/sfondo_iot_w.jpg") no-repeat 0 0;
    background-size: cover;
    text-align: center;
    padding: 55px 0;
    position: relative;
    z-index: 99;
  }
  #section-7-5 .valign {
    top: 200px;
  }
  #section-7-5 h2 {
    margin-bottom: 25px;
  }
  #section-7-5 .col-wp {
    text-align: justify;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  #section-7-5 .col-wp p {
    padding-bottom: 20px;
  }
  #section-7-5 .col-wp p br {
    display: block;
    margin-top: 10px;
  }
  #section-8 {
    background: url("../images/w_sfondo_07.jpg") no-repeat 0 0;
    background-size: cover;
  }
  .footer-wrapper {
    background: url("../images/w_footer.png") no-repeat 0 0;
    background-size: cover;
    height: auto;
  }
  .footer-wrapper .footer {
    position: relative;
    *zoom: 1;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-wrapper .footer:before {
    content: '';
    display: table;
  }
  .footer-wrapper .footer:after {
    content: '';
    display: table;
    clear: both;
  }
  .footer-wrapper #sitemap {
    width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
  }
  .footer-wrapper #sitemap:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .footer-wrapper #sitemap:last-child {
    margin-right: 0;
  }
  .footer-wrapper #sitemap:nth-child(12n) {
    margin-right: 0;
  }
  .footer-wrapper #sitemap:nth-child(12n + 1) {
    clear: left;
  }
  .footer-wrapper #sitemap ul {
    width: 250px;
    margin: 21px auto;
    list-style: none;
    text-align: left;
    padding-left: 50px;
  }
  .footer-wrapper .separe,
  .footer-wrapper .separe-hole {
    display: none;
  }
  .footer-wrapper #footer-social-wp {
    width: calc(99.99% * 6/12 - (30px - 30px * 6/12));
  }
  .footer-wrapper #footer-social-wp:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .footer-wrapper #footer-social-wp:last-child {
    margin-right: 0;
  }
  .footer-wrapper #footer-social-wp:nth-child(12n) {
    margin-right: 0;
  }
  .footer-wrapper #footer-social-wp:nth-child(12n + 1) {
    clear: left;
  }
  .footer-wrapper #footer-social-wp:before {
    content: url("../images/w_vertdot.png");
    position: absolute;
    left: 25%;
  }
  .footer-wrapper #footer-social-wp #separe-hole {
    padding: 0;
    position: relative;
    top: -44px;
    width: 75%;
  }
  .footer-wrapper #footer-social-wp ul {
    width: 100%;
  }
  .footer-wrapper p {
    font-size: 0.6em;
  }
  .footer-wrapper #backtotop {
    width: calc(99.99% * 3/12 - (30px - 30px * 3/12));
    padding-top: 87px;
    position: relative;
  }
  .footer-wrapper #backtotop:nth-child(n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .footer-wrapper #backtotop:last-child {
    margin-right: 0;
  }
  .footer-wrapper #backtotop:nth-child(12n) {
    margin-right: 0;
  }
  .footer-wrapper #backtotop:nth-child(12n + 1) {
    clear: left;
  }
  .footer-wrapper #backtotop:before {
    content: url("../images/w_vertdot.png");
    position: absolute;
    left: -10%;
    top: 4%;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1000px) {
  #section-8 {
    padding: 100px;
  }
}
@media only screen and (max-width: 1100px) {
  .web-main,
  .p-second {
    display: none;
  }
  #section-2 .download,
  #section-3 .download,
  #section-4 .download,
  #section-5 .download,
  #section-6 .download {
    display: none;
  }
  .article-question {
    display: none;
  }
  .device-wp {
    display: none;
  }
  .scene {
    display: none;
  }
  #web-social {
    display: none;
  }
}
@media only screen and (min-width: 1100px) {
  #mobile-social {
    display: none;
  }
  #web-social {
    width: 100%;
  }
  #web-social li {
    width: 30px;
    height: 30px !important;
    padding: 0 15px !important;
    overflow: hidden;
  }
  #web-social li img {
    width: 100%;
    height: auto !important;
  }
  #web-social li img:hover {
    position: relative;
    top: -30px;
  }
  .scene,
  .layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .scene {
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .layer {
    position: absolute;
    opacity: 0.5;
  }
  .layer div {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .mobile-main {
    display: none;
  }
  #section-1 #png-01 {
    width: 160px;
    top: 120px;
    left: 18px;
  }
  #section-1 #png-02 {
    width: 320px;
    top: 0;
    right: 0;
  }
  #section-1 #png-03 {
    width: 280px;
    bottom: 0;
    right: 0;
  }
  #section-1 #png-03 img {
    position: relative;
    bottom: -3px;
  }
  .web-main {
    *zoom: 1;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .web-main:before {
    content: '';
    display: table;
  }
  .web-main:after {
    content: '';
    display: table;
    clear: both;
  }
  .web-column {
    width: calc(99.999999% * 1/3);
    position: relative;
  }
  .web-column:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .web-column:last-child {
    margin-right: 0;
  }
  .web-column:nth-child(0n) {
    margin-right: 0;
  }
  .web-column:nth-child(0n + 1) {
    clear: left;
  }
  .web-column p {
    text-align: justify;
  }
  .web-column .p-first {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }
  .web-column .p-second {
    visibility: hidden;
  }
  .web-column .p-third {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
  }
  .section-wp {
    *zoom: 1;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
  .section-wp:before {
    content: '';
    display: table;
  }
  .section-wp:after {
    content: '';
    display: table;
    clear: both;
  }
  .section .separe {
    width: 55%;
    padding: 5px 0;
  }
  .download {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  #section-8 .download {
    position: relative;
    bottom: auto;
    left: auto;
  }
  #section-2 .web-column h2 {
    margin: 0 auto;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 25px;
  }
  #section-2 .web-column h2,
  #section-2 .web-column p,
  #section-2 .web-column span {
    width: 70%;
  }
  #section-2 .bluesepare {
    display: block;
    padding-top: 60px;
    margin: 0 auto;
  }
  #section-2 .white-txt {
    font-size: 20px;
  }
  #section-2 .blue-txt {
    font-size: 0.99em;
    font-weight: bold;
    text-align: center !important;
  }
  #section-2 div {
    max-width: auto !important;
  }
  #section-2 div #perche,
  #section-2 div #cosa {
    padding: 0;
  }
  #section-2 div #perche p,
  #section-2 div #cosa p {
    text-align: justify;
  }
  #section-3 .download,
  #section-4 .download,
  #section-5 .download,
  #section-6 .download {
    bottom: 50px;
  }
  .white-text {
    color: #fff !important;
  }
  .article-question {
    padding: 30px 0;
  }
  .article-question .grey {
    color: #7c808d;
  }
  .article-question .blue {
    color: #00aea8;
  }
  .article-question .white {
    color: #f5f5f5;
  }
  .left-column {
    top: 30%;
  }
  .right-column {
    top: 30%;
    position: relative;
    left: -35px;
  }
  .right-column p {
    text-align: center !important;
    font-size: 20px;
  }
  .device-wp {
    position: fixed;
    z-index: 98;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: -280px;
    margin-left: -150px;
  }
  .device-wp .device-main {
    position: relative;
  }
  .device-wp .device-main .device-img {
    position: absolute;
    width: 300px;
  }
  .device-wp .device-main .device-video {
    top: 104px;
    left: 49px;
    position: relative;
    width: 203px;
    height: 360px;
  }
  .device-wp .device-main .device-video .video-device {
    position: absolute;
    width: 203px;
    height: 361px;
  }
  .device-wp .device-main .device-video #v1 {
    z-index: 100;
  }
  #section-7,
  #section-8,
  .footer-wrapper {
    position: relative;
    z-index: 99;
  }
  #section-7-5 .valign {
    position: relative;
    top: 20%;
  }
  #section-7-5 h2 {
    margin-bottom: 40px;
    font-size: 2em;
  }
  #section-7-5 .col-wp {
    max-width: 1024px;
  }
  #section-8 h2 {
    font-size: 2em;
  }
  #section-8 h3 {
    padding-top: 30px;
    font-size: 1.3em;
  }
  #section-8 .little {
    font-size: 1em !important;
  }
  #section-8 .download {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
    padding-top: 30px;
  }
  #section-8 input {
    width: 200px;
    margin-top: 20px;
  }
  .footer-wrapper {
    height: auto;
  }
  .footer-wrapper #credits {
    padding-top: 45px;
  }
  #section-4 p {
    padding-top: 50px;
  }
  #section-5 p {
    padding-top: 50px;
  }
}
@media only screen and (min-width: 1350px) {
  #perche {
    position: relative;
    left: 65px;
  }
  .right-column {
    left: 0;
  }
  #section-1 {
    background-size: cover;
  }
  #section-1 #png-01 {
    width: 135px;
    top: 30%;
    left: 18px;
  }
}
@media only screen and (min-width: 1441px) {
  #section-7-5 .valign {
    position: relative;
    top: 20%;
  }
  #section-7-5 h2 {
    margin-bottom: 40px;
    font-size: 2.3em;
  }
  #section-7-5 .col-wp {
    max-width: 1024px;
    font-size: 20px;
  }
}


/*# sourceMappingURL=app.css.map*/