.device-wp
  .device-main
    .device-img
      img(src="images/w_iphone.png", alt="")
    .device-video
      video#v1.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/01.mp4', type='video/mp4', id="web-video-1")
        img(src='video/splash_fallback.png', style='width:100%')                               
      video#v2.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/02.mp4', type='video/mp4', id="web-video-2")
        img(src='video/splash_fallback.png', style='width:100%')                               
      video#v3.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/03.mp4', type='video/mp4', id="web-video-3")
        img(src='video/splash_fallback.png', style='width:100%')                               
      video#v4.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/04.mp4', type='video/mp4', id="web-video-4")
        img(src='video/splash_fallback.png', style='width:100%')                               
      video#v5.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/05.mp4', type='video/mp4', id="web-video-5")
        img(src='video/splash_fallback.png', style='width:100%')                               
      video#v6.video-device(poster='video/splash_fallback.png', width='100%', autoplay='', loop='')
        source(src='video/06.mp4', type='video/mp4', id="web-video-6")
        img(src='video/splash_fallback.png', style='width:100%')                               
