#section-8
  h2
    | Goditi la vita!
  p
    | Let.life è la realta virtuale che ti da più tempo per la tua vita reale.
    
  .separe
    img(src="images/puntini_bianchi.png")
  
  div#aspettando
    h3
      | Cosa stai aspettando?
    p.little
      | Scarica let.life e divertiti a creare Anima per i tuoi oggetti!
    
    div.download
      div.store
        div
          .android
            a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
              img(src="images/store-android.png")
          .ios
            img(src="images/store-apple.png")

  div#contacts
    h3
      | Contattaci
    
    .separe#separe-hole
      img(src="images/dots-hole.png")
    
    a(href="mailto:info@let.life")
      | info@let.life
    span 
      | &nbsp;|&nbsp;&nbsp;
    a(href="tel:011 447260")
      | 011 447260
    
    p.little
      | Iscriviti alla Newsletter per restare aggiornato sulle novità di Let.life
    
    form(action="//life.us10.list-manage.com/subscribe/post?u=b4b4b2998e0738bb9096c0e4c&amp;id=2fd3acd1f1", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
      input(type="email", placeholder="example@mail.com")
      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_b4b4b2998e0738bb9096c0e4c_2fd3acd1f1', tabindex='-1', value='')
      button.submit(value="Iscriviti", name="subscribe", id="mc-embedded-subscribe")
        | Iscriviti
    p#successo-checkmail Controlla la tua mail
