.section#section-1(data-anchor="firstPage")

  .letlife-logo
    img(src="images/w_logo_letlife.png")
  
  ul.scene
    li.layer(data-depth='0.10')
      img(src='images/parallax-01.png')
    li.layer(data-depth='0.40')
      img(src='images/parallax-02.png')
    li.layer(data-depth='0.90')
      img(src='images/parallax-03.png')

  div.bg-png#png-01
    img(src="images/w_oggetti_01.png")
  div.bg-png#png-02
    img(src="images/w_oggetti_02.png")
  div.bg-png#png-03
    img(src="images/w_oggetti_03.png")
  div.bg-png#png-04
    img(src="images/w_oggetti_04.png")

  .mobile-main
    h1
      | Ogni cosa
      br
      | una storia
    
    div#video
      a#aprimodal(href="#videomodal", rel="modal:open")
        img(src="images/preview_video.png")


  
  .web-main
    .web-column
      p.p-first
        | Ogni cosa
    .web-column
      p.p-second
        | video overlay
    .web-column
      p.p-third
        | una storia
  
  div.download
    h2
      | disponibile su
    div.store
      div
        .android
          a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
            img(src="images/store-android.png")
        .ios
          a(href="")
            img(src="images/store-apple.png")


  #videomodal
    a#closemodal(href="#", rel="modal:close")
    video#vm(poster='video/splash_fallback.png', width='100%', loop='')
      source(src='', type='video/mp4', id="mobile-source")
      img(src='video/splash_fallback.png', style='width:100%')     
