.section#section-7-5


  
    
  .section-wp
    .valign
      h2.gradient-title letlife, molto più che
        br
        span internet of things
      .col-wp
        p
          | L’internet of things (IOT) è il settore degli oggetti collegati tra loro via web che interagiscono con l’utente, il quale così, tramite devices specifici, può dialogare con tutto ciò che lo circonda.
        p
          | Tutti gli accessori che rientrano nel mondo dell’Internet of Things sono dotati al loro interno di un chip.  Let.life invece ha deciso di eliminare ogni sorta di hardware dagli oggetti di mettere in rete qualsiasi cosa appartenga alla vita di ciascuno.
        p
          br
          | Dalle opere d’arte, ai gioielli, ai mobili della casa, ai ricordi di famiglia, per arrivare ai dispositivi super tecnologici come smartphone e automobili.
        p
          | Un’innovazione che punta a trainare il mondo dell’Internet of things verso un nuovo scenario, che abbiamo definito “Internet for everything”: l’orizzonte in cui i chip sono sostituiti da un codice, frutto di algoritmo proprietario, che identifica in modo univoco e incontraffabile gli oggetti. Una vera e propria rivoluzione.
  div.download
    h2
      | scarica gratis
    div.store
      div
        .android
          a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
            img(src="images/store-android.png")
        .ios
          a(href="https://itunes.apple.com/us/app/let.life/id972049045?l=it&ls=1&mt=8", target="_blank")
            img(src="images/store-apple.png")

  div.link-business
    a(href="business/", target="_blank")
      img(src="images/business_btn.png")
  

  div.link-business-mobile
    a(href="business/", target="_blank")
      img(src="images/business_btn_mobile.png")
