.section#section-7
  .article#article-1
    .vcenter
      h3
        | Hai preso le chiavi?
      .article-question
        p.grey
          | Quando devi vaccinare Felix?
        p.blue
          | Quando scade l'abbonamento?
      a.btn(href="http://medium.com/@letlifeofficial/per-non-dimenticarsi-niente-c4da3925d03c", target="_blank")
        | leggi case history
  .article#article-2
    .vcenter
      h3
        | Quando ti serve
      .article-question
        p.grey
          | la scansione del documento
        p.blue
          | l'assicurazione della tua auto
        p.white
          | lo scontrino per la garazia
      a.btn(href="http://medium.com/@letlifeofficial/tutto-quello-che-ti-serve-con-te-1b29a8b1d8d7", target="_blank")
        | leggi case history
  .article#article-3
    .vcenter
      h3.red
        | Dove producono quel vino?
      .article-question
        p.grey
          | Quando hai comprato il cellulare?
        p.blue
          | Dove acquistare i ricambi della moto?
      a.btn(href="http://medium.com/@letlifeofficial/sapere-tutto-averlo-sempre-51d371128f42", target="_blank")
        | leggi case history
