.section#section-6


  ul.scene
    li.layer(data-depth='0.10')
      img(src='images/parallax-01.png')
    li.layer(data-depth='0.40')
      img(src='images/parallax-02.png')
    li.layer(data-depth='0.90')
      img(src='images/parallax-03.png')
    
  .section-wp
    .web-column.left-column
      .circeld-img
        img(src="images/feature_04.png")
      h2.gradient-title
        | quello che vuoi
        br
        span
          | sapere
    
      .separe
        img(src="images/puntini_bianchi.png")
      
    
    .web-column
      p.p-second
        | video overlay

    .web-column.right-column
      p.blue-little
        | Scansiona il lifecode degli oggetti che acquisti. 
        br
        br
        | Crea così la loro Anima Digitale, attraverso la quale le aziende produttrici ti potranno offrire informazioni, aggiornamenti, suggerimenti d’uso e proposte commerciali.
    
  div.download
    h2
      | disponibile su
    div.store
      div
        .android
          a(href="")
            img(src="images/store-android.png")
        .ios
          a(href="")
            img(src="images/store-apple.png")
