.section#section-2(data-anchor="secondPage")

  ul.scene
    li.layer(data-depth='0.10')
      img(src='images/parallax-01.png')
    li.layer(data-depth='0.40')
      img(src='images/parallax-02.png')
    li.layer(data-depth='0.90')
      img(src='images/parallax-03.png')
    
  .mobile-main
    #cosa
      h2.title
        | cos'é?
      p.white-txt
        | Letlife è l’unico servizio che ti consente di dare un’anima digitale agli oggetti, così possono dirti tutto di loro: novità, informazioni, scadenze e ricordi.
      p.blue-txt
        | Con LetLife le tue cose sono sempre con te e ti parlano quando vuoi e quando ti serve. 

      
    
    .separe
      img(src="images/puntini_bianchi.png")
          
    #perche
      h2.title
        | Perchè?
      p.white-txt
        | Per avere sempre a disposizione le cose importanti della tua vita, organizzarti meglio e avere più tempo libero.
      p.blue-txt
        | Con Letlife gli oggetti diventano tuoi alleati e ti aiutano a gestire al meglio i tuoi impegni. 


  .web-main
    #cosa.web-column
      h2.title
        | cos'é?
      p.white-txt
        | Letlife è l’unico servizio che ti consente di dare un’anima digitale agli oggetti, così possono dirti tutto di loro: novità, informazioni, scadenze e ricordi.
      span.bluesepare
        img(src="images/bluedot.png", alt="")
      p.blue-txt
        | Con LetLife le tue cose sono sempre con te e ti parlano quando vuoi e quando ti serve. 
      
    .web-column
      p.p-second
        | video overlay
          
    #perche.web-column
      h2.title
        | Perchè?
      p.white-txt
        | Per avere sempre a disposizione le cose importanti della tua vita, organizzarti meglio e avere più tempo libero.
      span.bluesepare
        img(src="images/bluedot.png", alt="")
      p.blue-txt
        | Con Letlife gli oggetti diventano tuoi alleati e ti aiutano a gestire al meglio i tuoi impegni. 

  div.download
    h2
      | scarica gratis
    div.store
      div
        .android
          a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
            img(src="images/store-android.png")
        .ios
          a(href="https://itunes.apple.com/us/app/let.life/id972049045?l=it&ls=1&mt=8", target="_blank")
            img(src="images/store-apple.png")
