.section#section-5


  ul.scene
    li.layer(data-depth='0.10')
      img(src='images/parallax-01.png')
    li.layer(data-depth='0.40')
      img(src='images/parallax-02.png')
    li.layer(data-depth='0.90')
      img(src='images/parallax-03.png')
    
  .section-wp
    .web-column.left-column
      .circeld-img
        img(src="images/feature_03.png")
      h2.gradient-title
        | i tuoi impegni
        br
        span
          | al passo con te
      
      .separe
        img(src="images/puntini_bianchi.png")
        
    .web-column
      p.p-second
        | video overlay

    .web-column.right-column
      p.white-txt
        | Controlla meglio il presente e pianifica il tuo futuro senza sforzo. Grazie al sistema di notifiche LifeUp sono i tuoi oggetti a ricordare impegni, scadenze e appuntamenti al posto tuo. 


  div.download
    h2
      | disponibile su
    div.store
      div
        .android
          a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
            img(src="images/store-android.png")
        .ios
          a(href="")
            img(src="images/store-apple.png")

    
