.footer-wrapper
  .footer
    #sitemap
      ul
        li.footer-li
          a(href="#home") Let.life
        li.footer-li
          a(href="#one") Features
        li.footer-li
          a(href="#") Lavora con noi - coming soon
        li.footer-li
          a(href="privacy-policy.html") Privacy Policy
        li.footer-li
          a(href="terms-conditions.html") Terms & Conditions
        li.footer-li
          a(href="http://ad2014.it/presskit.zip", target="_blank") Press Kit

    #footer-social-wp
      h4
        | Join us!
        
      .separe#separe-hole
        img(src="images/dots-hole.png")
      
      ul#mobile-social
        li.footer-social
          a(href="https://www.facebook.com/letlifeofficial?fref=ts")
            img(src="images/social1.png", alt="")
        li.footer-social
          a(href="https://plus.google.com/111502645253126799768", target="_blank")
            img(src="images/social2.png", alt="")
        li.footer-social
          a(href="https://instagram.com/let.life/", target="_blank")
            img(src="images/social3.png", alt="")
        li.footer-social
          a(href="https://medium.com/@letlifeofficial", target="_blank")
            img(src="images/social4.png", alt="")
        li.footer-social
          a(href="https://it.pinterest.com/letlifeofficial/", target="_blank")
            img(src="images/social5.png", alt="")
        li.footer-social
          a(href="https://twitter.com/letlifeofficial", target="_blank")
            img(src="images/social6.png", alt="")
        li.footer-social
          a(href="https://www.youtube.com/watch?v=S47NFn3LqGQ", target="_blank")
            img(src="images/social7.png", alt="")
      
      ul#web-social
        li.footer-social
          a(href="https://www.facebook.com/letlifeofficial?fref=ts")
            img(src="images/w_social1.png", alt="")
        li.footer-social
          a(href="https://plus.google.com/111502645253126799768", target="_blank")
            img(src="images/w_social2.png", alt="")
        li.footer-social
          a(href="https://instagram.com/let.life/", target="_blank")
            img(src="images/w_social3.png", alt="")
        li.footer-social
          a(href="https://medium.com/@letlifeofficial", target="_blank")
            img(src="images/w_social4.png", alt="")
        li.footer-social
          a(href="https://it.pinterest.com/letlifeofficial/", target="_blank")
            img(src="images/w_social5.png", alt="")
        li.footer-social
          a(href="https://twitter.com/letlifeofficial", target="_blank")
            img(src="images/w_social6.png", alt="")
        li.footer-social
          a(href="https://www.youtube.com/watch?v=S47NFn3LqGQ", target="_blank")
            img(src="images/w_social7.png", alt="")

      .separe
        img(src="images/puntini_bianchi.png")
    
      #credits
        p
          | 2014 - powered by
        a(href="http://www.ad2014.it", target="_blank")
          img(src="images/logosoc.png", alt="")
        
        
    #backtotop
      img(src="images/w_top.png")
