.section#section-4


  ul.scene
    li.layer(data-depth='0.10')
      img(src='images/parallax-01.png')
    li.layer(data-depth='0.40')
      img(src='images/parallax-02.png')
    li.layer(data-depth='0.90')
      img(src='images/parallax-03.png')
    
  .section-wp
    .web-column.left-column
      .circeld-img
        img(src="images/feature_02.png")
      h2.gradient-title
        | go back
        br
        span
          | in time
      
      .separe
        img(src="images/puntini_bianchi.png")
      
    .web-column
      p.p-second
        | video overlay
    
    .web-column.right-column
      p.white-txt
        | Take pictures of yourself with your favourite objects and store them in your digital soul.
        br
        br
        | With Let.life you can relive your memories and emotions, like a flashback.
        
      
  div.download
    h2.white-text
      | download for free
    div.store
      div
        .android
          a(href="https://play.google.com/store/apps/details?id=it.ad2014.letlife", target="_blank")
            img(src="images/store-android.png")
        .ios
          a(href="https://itunes.apple.com/us/app/let.life/id972049045?l=it&ls=1&mt=8", target="_blank")
            img(src="images/store-apple.png")
            
  div.link-business
    a(href="business/index_eng.html", target="_blank")
      img(src="images/business_eng.png")
  

  div.link-business-mobile
    a(href="business/index_eng.html", target="_blank")
      img(src="images/business_eng_mobile.png")
