.section#section-7
  .article#article-1
    .vcenter
      h3
        | Do you have the keys?
      .article-question
        p.grey
          | When does Felix get vaccinated? 
        p.blue
          | When is your subscription payment due?
      a.btn(href="http://medium.com/@letlifeofficial/per-non-dimenticarsi-niente-c4da3925d03c", target="_blank")
        | discover more
  .article#article-2
    .vcenter
      h3
        | Access
      .article-question
        p.grey
          | important documents
        p.blue
          | the car insurance
        p.white
          | the receipt for warranty
      a.btn(href="http://medium.com/@letlifeofficial/tutto-quello-che-ti-serve-con-te-1b29a8b1d8d7", target="_blank")
        | discover more
  .article#article-3
    .vcenter
      h3.red
        | Where is that wine produced?
      .article-question
        p.grey
          | When did you buy your smartphone?
        p.blue
          | Where can you buy spare parts for your motorbike?
      a.btn(href="http://medium.com/@letlifeofficial/sapere-tutto-averlo-sempre-51d371128f42", target="_blank")
        | discover more

  div.link-business
    a(href="business/index_eng.html", target="_blank")
      img(src="images/business_eng.png")
  

  div.link-business-mobile
    a(href="business/index_eng.html", target="_blank")
      img(src="images/business_eng_mobile.png")
